RewriteEngine on
RewriteCond $1 ^$
RewriteRule ^(.*)$ /asset/img/i/private/default_0_0.jpg [R=302,L,NC]
RewriteCond $1 !^(index\.php|images|robots\.txt|asset|html)
RewriteRule ^(.*)$ /index.php/$1 [L]
